version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: assetory/landingpage
    docker:
      - image: circleci/node:12

jobs:

  test:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      
      # Install dependencies
      - run:
          name: "install dependencies"
          command: "npm install"

      # Run tests
      - run:
          name: "run tests"
          command: "npm test"
